/***************************************
Global styles
***************************************/

body {
	background-color: lightskyblue;
	color: ghostwhite;
	margin: 1em;
}


/***************************************
The Header
***************************************/

header {
	text-align: center;
	padding: 2em;
	font-size: 1.2em;
}

header h1 {
	text-shadow: 1px 1px black;
}


/***************************************
Gradient Controls
***************************************/

input {
	margin: 1em 2em;
	border-radius: 10px;
}


/***************************************
Main Content Div
***************************************/

div h2, 
div h3 {
	text-align: right;
}
